{% extends "apprtrent/base.html" %}
{% load crispy_forms_tags %}


{% block content %}


    <div class="container-fluid" style="margin-top: 20px">
        <h3>Dodaj zdjęcia do apartamentu:</h3><br>
        <h4>{{ appartment.app_name }}</h4>ul.{{ appartment.address_str }} nr {{ appartment.address_no }}, {{ appartment.address_city }}
    </div>
    <p></p>

    <div class="container-fluid">

    <form method="POST" action="#" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary btn-sm" type="submit" role="button" value="Ok">{{ button }}</button>
        <a class="btn btn-primary btn-sm" href="{% url 'apprtrent:home' %}" role="button">Anuluj</a>

    </form>
    </div>
    <div class="container" style="margin-top: 20px">

        {% include "apprtrent/display_photos.html" %}
    </div>


{% endblock %}