{% extends "apprtrent/base.html" %}

{% block content %}

    <div class="container"><p></p>

        <nav class="navbar navbar-light bg-light">

            <form action="" method="post">
                {% csrf_token %}
                <span>Usunąć apartament?</span>

                        <input type="hidden" value="{{ object.id }}" name="itemsToDelete" />
                        <h3>{{ object.app_name }}</h3>
                <input type="submit" class="btn btn-danger btn-sm" value="Ok" name="confirm_delete" />
            <a class="btn btn-primary btn-sm" href="{% url 'apprtrent:edit-list-appartment' %}" role="button">Anuluj</a>
            </form>
        </nav>
    </div>

{% endblock %}
