{% extends "apprtrent/base.html" %}

{% block content %}


    <div class="container-fluid">
        <h3>Dodaj zdjęcia do apartamentu:</h3><br>
        <h4>{{ appartment.app_name }}</h4>ul.{{ appartment.address_str }} nr {{ appartment.address_no }}, {{ appartment.address_city }}
    </div>
    <p></p>

    <div class="container-fluid">

    <nav class="navbar navbar-light bg-light">
        <span class="navbar-text">

    <form method="POST" action="#" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary btn-sm" type="submit" role="button" value="Ok">{{ button }}</button>
        <a class="btn btn-primary btn-sm" href="{% url 'apprtrent:home' %}" role="button">Anuluj</a>

    </form>

    </span>
    </nav>


    </div>

{% endblock %}