{% extends "apprtrent/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <h3 class="info-title">Dodawanie właściciela</h3><br>

        <form method="POST" action="#" class="form">
            {% csrf_token %}
            {{ form|crispy }}

            <button class="btn btn-primary btn-sm" type="submit" role="button" value="Ok">Dodaj</button>
            <a class="btn btn-primary btn-sm" href="{% url 'apprtrent:home' %}" role="button">Anuluj</a>
        </form>
    </div>

{% endblock %}